.footer {
  padding: 1.5rem 2rem;
  background-color: var(--green-100);
}

.footer-container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  color: var(--gray-700);
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
}

.contact-list__item:hover .linkedin,
.contact-list__item:hover .github {
  stroke: var(--purple-400);
}

.contact-list__item:hover .gmail {
  fill: var(--purple-400);
}

@media screen and (min-width: 320px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-copyright {
    margin-top: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 560px) {
  .footer-container {
    flex-direction: row;
  }

  .footer-copyright {
    margin-top: 0;
  }
}