:root {
  --white: #ffffff;

  --gray-50: #fafafa;
  --gray-100: #eeeeee;
  --gray-600: #8b8b8b;
  --gray-700: #444444;

  --purple-100: #f0e7f2;
  --purple-200: #d8b5df;
  --purple-400: #b077bb;

  --pink-100: #ffebeb;
  --pink-500: #d66f6f;

  --green-100: #deeedd;
  --green-500: #79bb74;

  --blue-100: #d8f2f8;
  --blue-500: #60a3b4;

  --yellow-100: #fffbbd;
  --yellow-600: #bdb21f;
  
  --orange-100: #fae6d1;
  --orange-500: #d48b3d;

  --font-text: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
}

::selection {
  color: var(--gray-700);
  background-color: var(--purple-100);
}

body {
  background-color: var(--gray-50);
}

section {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--gray-700);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.section__heading {
  text-decoration: var(--purple-400) wavy underline 2px;
  margin-bottom: 1rem;
}

.pink {
  background-color: var(--pink-100);
}

.purple {
  background-color: var(--purple-100);
}

.blue {
  background-color: var(--blue-100);
}

.green {
  background-color: var(--green-100);
}

.yellow {
  background-color: var(--yellow-100);
}

.orange {
  background-color: var(--orange-100);
}

.mention {
  font-weight: 500;
}

.mention {
  width: fit-content;
  display: inline-block;
  color: var(--gray-700);
  font-weight: 500;
  box-shadow: inset 0 0 0 0 var(--pink-100);
  transition: all ease-in-out .5s;
}

.mention:hover {
  box-shadow: inset 160px 0 0 0 var(--pink-100);
}

.svg-icon {
  transition: all ease-in-out .3s;
}
