.hero {
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
}

.hero__heading {
  max-width: 800px;
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: .5rem;
}